extends layout.pug

block content
    h2 Welcome, #{name}!
        form(action="/bye", method="post")
            button(type="submit") Goodbye
    section#content
        h2= prompt
        if(side == 'question')
            p= hint
        a(href=`${id}?side=${sideToShow}`)= sideToShowDisplay
        br
        a(href="/cards") Begin