extends layout.pug

block content
    section#content
        if name
            h2 Welcome, #{name}
        else
            form(action="/hello", method="post")
                label(for="name") Enter your name: 
                input(type="text", name="name")
                button(type="submit", value="Submit") Submit

