extends layout.pug

block content
    section#content
        h2 Welcome, #{name}!
        form(action="/bye", method="post")
            button(type="submit") Goodbye
        p
            a(href="/cards") Begin

