html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stylesheets/style.css")
        title Flash Cards
    body
        header
            h1 Flash Cards
        block content
        footer
            p An app to help you study!